<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

	<!-- 01. 전체 갯수 얻기        -->
	<select id="getCount" resultType="int" parameterType="int" >
		<![CDATA[
	 		select count(*) from board where board_idx=#{board_idx}
	 	]]>
	</select>
	
	<!-- 02. 1개 얻기 -->

	<select resultType="BoardVO" id="selectByIdx" parameterType="hashMap">
		<![CDATA[
			select * from board where board_idx=#{board_idx} and board_idx_incre=#{board_idx_incre}
		]]>
	</select>

	<!-- 03. 1페이지 얻기 -->
	<select resultType="BoardVO" id="selectList" parameterType="hashMap">
		<![CDATA[
				select * from board where board_idx=#{board_idx} ORDER BY board_idx DESC LIMIT #{startNo},#{endNo} 
			]]>
	</select>
	
	 <!-- 04. 저장하기    -->
	 <insert id="insert" parameterType="BoardVO">
	 	<![CDATA[
	 		insert into board
	 			(subject, content, user, regdate, board_idx, board_idx_incre) 
	 		values
	 			(#{subject}, #{content}, #{user}, now(), #{board_idx}, #{board_idx_incre})
	 	]]>
	 </insert>
	 
		<!-- 05. 이전 데이터 가져오기    -->
	 <select id="PreBoardIdx" resultType="int" parameterType="String">
	 	<![CDATA[
			SELECT board_idx_incre FROM board where board_idx=#{board_idx} ORDER BY board_idx_incre DESC LIMIT 1 
	 	]]>
	 </select>
	 
	 
	
	
	
</mapper>