<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	
	<select id="selectByIdx" resultType="guestVO" parameterType="int">
		<![CDATA[
			select * from guest where idx=#{idx}
		]]>
	</select>
	
	
	<!-- 01. 전체 갯수 얻기        -->
	<select id="getCount" resultSets="int">
		<![CDATA[
	 		select count(*) from board
	 	]]>
	</select>
	
	
	
	
	
	
	
	
</mapper>